footer
{
    word-spacing: 2px;
    text-align: center;
    height: 2em;
    padding: 2em 10%;
    background-color: rgb(86, 18, 194, 0.900);
}
footer a { margin-left: 20px; margin-top: 10px; }
footer div { display: inline-block; }
footer::after
{
    content: '';
    display: inline-block;
    width: 100%;
}