header {
    position: fixed;
    top:0;
    width:90%;
    z-index: 2;
    text-align: justify;
    height: 2em;
    padding: 2em 5%;
    background-color: rgb(86, 18, 194, 0.900);
    color: #fff
}
 
header::after {
    content: '';
    display: inline-block;
    width: 100%;
}
 
header > div,
header > div::before,
header nav,
header > div h1,
header > div img {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
 
header > div {
    height: 100%;
}
 
header > div::before {
    content: '';
    height: 100%;
}
 
header > div h1 {
    font-size: 2em;
}
 
header nav a {
    padding: 0 0.6em;
    white-space: nowrap;
    font-size: 18px;
}