* { padding: 0; margin: 0; cursor: default; }
body { background: rgb(235, 235, 235); font-family: 'Ubuntu', sans-serif; letter-spacing: 1px;}
*,
:after,
:before {
 box-sizing:inherit
}
h2 
{
    font-size:32px;
    text-align:center;
    font-weight:700;
    text-transform:uppercase;
    font-family: 'Cuprum', sans-serif;
    padding-top: 70px;
}

.home {
    position:relative;
    width:100%;
    min-height:100vh;
    background:url(images/home_mono.jpg) fixed no-repeat;
    background-size:cover;
    color:rgb(255, 255, 255)
}

.home .heading,
.home .home-overlay {
    width:100%;
    position:absolute;
    left:0
}
.home .heading {
    top:50%;
    text-align:center;
    transform:translateY(-50%);
    padding:0 10px
}
.home .heading p {
    font-size:22px
   }
.home .heading h1 {
    text-transform:uppercase;
    font-size:48px;
    font-family:'Oswald',sans-serif;
    letter-spacing:1px
}


#about_me p
{
    text-align:center;
}

main
{
    z-index: 1;
}

@media screen and (max-width: 720px){
    
    header {
        height: auto;
    }
    
    header > div,
    header > div h1,
    header nav {
        height: auto;
        width: auto;
        display: block;
        text-align: center;
    }
    
}

.link, .link:hover
{
    color: white;
    text-decoration: none;
    cursor: pointer;

}

.navigation .link:hover,
.footer .link:hover
{
    color: rgb(240, 240, 73);
}

.div_line {
    background: hsla(0,0%,52.9%,.5);
    width: 100px;
    height: 1px;
    margin: 30px auto;
}

.end_line {
    background: hsla(0,0%,52.9%,.5);
    width: 100%;
    height: 1px;
    margin: 30px auto;
}


#services,
#portfolio,
#skills
{
    padding:50px 0 50px;
    margin:0 auto
}


#skills .services_container,
#services .services_container
{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap
}

#services .services_container .services_item,
#skills .services_container .services_item
{
    margin:30px 50px;
    background-color: #fff;
    max-width:300px;
    width:80%;
    min-width:200px;
    text-align:center;
    padding:15px;
    /*opacity:0*/
}
#services .services_container .services_item .fullstack_images
{
    font-size: 70px;
    display: inline-block;
}
#services .services-container .services-item .services_item_description,
#skills .services_container .services_item .services_item_description
{
    line-height:1.4em
}
#services .services_container .services_item .services_item_title {
    font-family:'Tomorrow',sans-serif;
}

.home .heading_bottom {
    position: absolute;
    width: 100%;
    bottom: 260px;
    text-align: center;
    letter-spacing: inherit;
}


.holder{
    position:relative;   
    width:250px;
    height:250px;
    margin:100px auto;
}
.hidden_block{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background:rgba(255,255,255, 0.95);
    border:2px solid  rgb(86, 18, 194, 0.900);
    padding:5px;
    margin:auto;
    text-align:center;
    opacity:0;
    transition: 1s;
}
.holder:hover .hidden_block{
    display:block;
    opacity:1;
    transition: 1s;
}


.diagram {
    width: 100px; height: 100px;
    text-align: center;
    border: 24px solid rgb(243, 86, 38);
    border-right: 24px solid rgb(255, 159, 114);
    border-radius: 100px;
    margin:10px auto 10px;
    padding-top: 15px;
    
}

.circle {
    display: block;
    float: left;
}
circle {
  fill: rgba(0,0,0,0);
  stroke: rgb(255, 159, 114);
  stroke-width: 15;
  stroke-dasharray: 408px 408px;
}
circle:nth-child(2n) {
  fill: rgba(0,0,0,0);
  stroke: rgb(243, 86, 38);
  stroke-width: 15;
}

