* { padding: 0; margin: 0; }
body { background: rgb(235, 235, 235); font-family: 'Ubuntu', sans-serif; letter-spacing: 1px;}
*,
:after,
:before {
 box-sizing:inherit
}
h2 
{
    font-size:32px;
    text-align:center;
    font-weight:700;
    text-transform:uppercase;
    font-family: 'Cuprum', sans-serif;
    padding-top: 70px;
}

.home {
    position:relative;
    width:100%;
    min-height:100vh;
    background:url(images/home_mono.jpg) fixed no-repeat;
    background-size:cover;
    color:rgb(255, 255, 255)
}

.home .heading,
.home .home-overlay {
    width:100%;
    position:absolute;
    left:0
}
.home .heading {
    top:50%;
    text-align:center;
    transform:translateY(-50%);
    padding:0 10px
}
.home .heading p {
    font-size:22px
   }
.home .heading h1 {
    text-transform:uppercase;
    font-size:48px;
    font-family:'Oswald',sans-serif;
    letter-spacing:1px
}


#about_me p
{
    text-align:center;
}

main
{
    z-index: 1;
}

@media screen and (max-width: 720px){
    
    header {
        height: auto;
    }
    
    header > div,
    header > div h1,
    header nav {
        height: auto;
        width: auto;
        display: block;
        text-align: center;
    }
    
}

.link, .link:hover
{
    color: white;
    text-decoration: none;
    cursor: pointer;

}

.navigation .link:hover
{
    color: rgb(240, 240, 113);
}

.div_line {
    background: hsla(0,0%,52.9%,.5);
    width: 100px;
    height: 1px;
    margin: 30px auto;
}

.end_line {
    background: hsla(0,0%,52.9%,.5);
    width: 100%;
    height: 1px;
    margin: 30px auto;
}


#services,
#portfolio,
#skills
{
    padding:50px 0 50px;
    margin:0 auto
}

#portfolio .services_container,
#skills .services_container,
#services .services_container
{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap
}

#services .services_container .services_item,
#portfolio .services_container .services_item,
#skills .services_container .services_item
{
    margin:30px auto;
    background-color: #fff;
    max-width:300px;
    width:80%;
    min-width:200px;
    text-align:center;
    padding:15px;
    /*opacity:0*/
}
#services .services_container .services_item .fullstack_images
{
    font-size: 70px;
    display: inline-block;
}
#services .services-container .services-item .services_item_description,
#portfolio .services_container .services_item .services_item_description,
#skills .services_container .services_item .services_item_description
{
    line-height:1.4em
}
#services .services_container .services_item .services_item_title {
    font-family:'Tomorrow',sans-serif;
}

.home .heading_bottom {
    position: absolute;
    width: 100%;
    bottom: 260px;
    text-align: center;
    letter-spacing: inherit;
}
